<p id="notice"><%= notice %></p>

<h1>Renteds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Renter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @renteds.each do |rented| %>
      <tr>
        <td><%= rented.user_id %></td>
        <td><%= rented.book_id %></td>
        <td><%= rented.renter_id %></td>
        <td><%= link_to 'Show', rented %></td>
        <td><%= link_to 'Edit', edit_rented_path(rented) %></td>
        <td><%= link_to 'Destroy', rented, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rented', new_rented_path %>
