<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
Bootstrap used here

<h1>Home</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @books.each do |book| %>
<div class="container">
	<div class="col" style="background: green; margin-top: 50px">
		Book Name:
		<%= book.name %>
	</div>
	<div class="col" style="margin-bottom: 5px">
		Genre:
		<%= book.genre %>		
	</div>
	<div class="col" style="margin-bottom: 5px">
		Owner:
		<%=@users.find(book.user_id).first_name + ' '+ @users.find(book.user_id).last_name%>
	</div>
	<div class="col" style="margin-bottom: 5px">
		Location:
		<%= link_to @users.find(book.user_id).location, map_path %>
	</div>
	<%= button_to "Details", root_path, method: :get %>
        <%= button_to "Rent This Book", root_path, method: :get %>
</div>
<% end %>
