<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_user.name %>
</p>

<p>
  <strong>Owns:</strong>
  <%= @project_user.owns_id %>
</p>

<p>
  <strong>Rented:</strong>
  <%= @project_user.rented_id %>
</p>

<%= link_to 'Edit', edit_project_user_path(@project_user) %> |
<%= link_to 'Back', project_users_path %>
